.error{
  color: red;
}

.main_content{
  background-color: rgb(246, 247, 217);
  margin-left: 160px;
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: auto;
  min-height: 100vh;
}

.auth_box{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
