
.navBar{
  height: 45px;
  background-color: blueviolet;
  position: sticky;
  top:15px;
}

.navList{
  list-style-type: none;
}

.navItem a{
  float: left;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.navItem a:hover{
  cursor: pointer;
  color: darkseagreen;
}

.navItem a:active{
  font-weight: bold;
}

.selected{
  background-color: brown;
  width: 100px;
}

.logout{
  float:right;
  margin-right: 10px;
  margin-top: 3px;
  
}