
.sidebar{
  width: 150px;
  min-height: 100vh;
  height: 100%;
  background-color: blueviolet;
  float: left;
}

.sidebar a{
  color: white;
  display: block;
  padding: 10px;
  text-decoration: none;
}
.sidebar a:hover{
  cursor: pointer;
  color: darkseagreen;
}

.sidebar a:active{
  font-weight: bold;
}
